.navbar {
	top: 0;
	left: 0;
	width: 100%;

	.logo {
		background-image: linear-gradient(120deg, #fdfbfb 0%, #fafcfd 100%);
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.menu {
		background-color: #1f28a1;
		color: #deefe7;
		height: 2.8rem;
		display: flex;
		padding: 0;
		justify-content: space-around;
		align-items: center;
		li {
			padding: 0.8rem;
			font-size: 0.8rem;
			height: 2.8rem;
			display: flex;
			align-items: flex-start;
			letter-spacing: 1px;
		}
		li:hover {
			border-bottom: 0.4rem solid #1daa5a;
		}
	}
}

.menu-responsive {
	background-color: #1f28a1;
	height: 2rem;
	display: none;
}
.menu-list-hidden {
	display: none;
}

@media (max-width: 960px) {
	.navbar .menu {
		height: 2.6rem;
		li {
			height: 2.6rem;
			font-size: 0.67rem;
		}
	}
}
@media (max-width: 840px) {
	.navbar .menu {
		height: 2.5rem;
		li {
			height: 2.5rem;
			font-size: 0.6rem;
		}
	}
}
@media (max-width: 776px) {
	.navbar .menu {
		height: 2.3rem;
		li {
			height: 2.3rem;
			font-size: 0.5rem;
		}
	}
}

@media (max-width: 687px) {
	.navbar .menu {
		display: none;
	}
	.menu-responsive {
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			height: 1.5rem;
			width: 1.5rem;
			color: #deefe7;
		}
	}
	.menu-list-flex {
		z-index: 2000;
		background-color: #1f28a1;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 7rem;
		padding-bottom: 2rem;
		li {
			list-style: none;
			text-align: left;
			color: #deefe7;
			width: 100%;
			padding: 2rem 0 0 2rem;
			a {
				padding: 0 1rem;
			}
		}
		li:hover a {
			border-bottom: 0.4rem solid #1daa5a;
		}
	}
}

@media (max-width: 340px) {
	.menu-list-flex {
		top: 6.5rem;
		li {
			padding: 2rem 0 0 1rem;
		}
	}
}

@media (max-width: 270px) {
	.menu-list-flex {
		top: 5.9rem;
		li {
			padding: 2rem 0 0 1rem;
		}
	}
}
