.shop {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: start;
	padding: 2rem 0;
	h2 {
		margin-bottom: 0.5rem;
		width: 100%;
		font-weight: 600;
		font-size: 1.3rem;
		color: #374151;
	}
	button {
		display: none;
	}
	.filters {
		width: 12rem;
		margin-right: 2rem;
		display: flex;
		flex-direction: column;
		.filter-classes .colors,
		.filter-classes .brands {
			color: #374151;
			margin-bottom: 2rem;
			h3 {
				font-weight: 600;
				margin-bottom: 0.3rem;
			}
			.item {
				padding-left: 0.5rem;
				margin-bottom: 0.5rem;
				input {
					margin-right: 0.5rem;
				}
			}
		}
	}
	.products-section {
		width: 80%;
		margin: 29px 0 0 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		min-height: 400px;
	}
}

@media (max-width: 830px) {
	.products-section {
		width: 90% !important;
		margin-left: 0 !important;
	}
}
@media (max-width: 830px) {
	.products-section {
		width: 90% !important;
		margin-left: 0 !important;
	}
}

@media (max-width: 670px) {
	.shop {
		flex-direction: column;
		padding: 1rem 0;

		.filters {
			flex-direction: column;
			width: 100%;
			h2 {
				display: none;
			}
			button {
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
				font-size: 1rem;
				padding: 0.5rem 0;
				border-bottom: 0.5px solid gray;
				color: #374151;
				span {
					margin-left: 0.5rem;
				}
			}
			.filter-classes-expand {
				margin-top: 1rem;
				display: flex;
				flex-direction: row;
				.colors,
				.brands {
					width: 50%;
					padding: 0 1rem;

					h3 {
						font-weight: 600;
						margin-bottom: 0.5rem;
					}
				}
			}
			.filter-classes-hidden {
				display: none;
			}
		}
		.products-section {
			margin-top: 3rem;
			width: 100% !important;
		}
	}
}

input[type='checkbox']:checked + label {
	font-weight: 600;
}
